.description-page {
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background: url('/images/dark_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(to bottom, transparent 0%, white 20%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, white 20%);
}

.description-name {
  font-size: 20px;
  text-align: right;
  margin-right: 100px;
}

.description-box {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-top: 100px;
}

.description-content {
  text-align: left;
  /* padding: 2rem; */
  color: white;
  font-size: 20px;
  width: 550px;
  margin: 0 0 0 50px;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.description-carousel {
  width: 400px;
  margin: 0 25px 0 50px;
}

.fade-in {
  opacity: 1;
}

.type-in {
  animation: 
  typing 1s steps(20, end) forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}